# DNB

In [6]:
import pandas as pd
import json
from pathlib import Path

from visions.core.functional import type_inference_report_frame, compare_detect_inference_frame
from visions.core.implementations import visions_standard_set
from visions.core.implementations.types import *
from visions.core.model.type import evolve_relation
pd.options.display.max_columns = None
pd.options.display.max_rows = None

## Interest Rates ECB

In [11]:
df = pd.read_csv('../data/dnb/rentetarieven_ecb.csv', sep=',')
df.sample(10)

                                            Soort rente    Periode   waarde
482   Variabele rentetenders; minimale inschrijvings...  2008-05-14    4.00
769        Variabele rentetenders; marginale rentevoet   2005-07-27    2.05
210   Variabele rentetenders; minimale inschrijvings...  2003-02-19    2.75
1371                          Marginale beleningsrente   1999-04-09    3.50
720        Variabele rentetenders; marginale rentevoet   2004-08-18    2.01
60                                  Vaste rentetenders   2011-04-13    1.25
689        Variabele rentetenders; marginale rentevoet   2004-01-14    2.00
343   Variabele rentetenders; minimale inschrijvings...  2005-09-07    2.00
1125  Variabele rentetenders; gewogen gemiddelde ren...  2004-02-11    2.01
910        Variabele rentetenders; marginale rentevoet   2008-04-16    4.21

In [4]:
df.dtypes

Soort rente     object
Periode         object
waarde         float64
dtype: object

The default typeset recognizes the types as expected:

In [5]:
typeset = visions_standard_set()

report = type_inference_report_frame(df, typeset)
print(report)

Periode          visions_string                 != visions_datetime
Soort rente      visions_string                 == visions_string
waarde           visions_float                  == visions_float
In total 1 out of 3 types were changed.

## Pension funds payments

In [8]:
file_path = Path("../data/dnb/pensioenfondsen_uitkeringen.json")
with file_path.open('r', encoding='utf-8-sig') as f:
    data = json.load(f)
        
df = pd.DataFrame(data['data'], columns=data['labels'])
df.sample(10)

,Soort pensioenfonds,Type overeenkomst,Uitsplitsing pensioenovereenkomst,Periode,waarde
337,Overig pensioenfonds,Totale overeenkomsten,Totaal,1293840000000,573
12,Totaal pensioenfonds,Uitkeringsovereenkomst,Middelloon,1167609600000,15766
315,Overig pensioenfonds,Premieovereenkomst,Totaal,1262304000000,139
200,Ondernemingspensioenfonds,Overige overeenkomsten,Totaal,1167609600000,34
145,Ondernemingspensioenfonds,Uitkeringsovereenkomst,Vaste bedragen,1199145600000,0
329,Overig pensioenfonds,Combinatie van overeenkomsten,Totaal,1420070400000,15
281,Bedrijfstakpensioenfonds,Totale overeenkomsten,Totaal,1483228800000,20956
40,Totaal pensioenfonds,Uitkeringsovereenkomst,Vaste bedragen,1293840000000,0
289,Overig pensioenfonds,Uitkeringsovereenkomst,Middelloon,1199145600000,15
68,Totaal pensioenfonds,Premieovereenkomst,Totaal,1420070400000,243

In [9]:
df.dtypes

Soort pensioenfonds                  object
Type overeenkomst                    object
Uitsplitsing pensioenovereenkomst    object
Periode                               int64
waarde                                int64
dtype: object

In [10]:
typeset = visions_standard_set()

report = type_inference_report_frame(df, typeset)
print(report)

waarde                                 visions_integer                == visions_integer
Uitsplitsing pensioenovereenkomst      visions_string                 == visions_string
Periode                                visions_integer                == visions_integer
Type overeenkomst                      visions_string                 == visions_string
Soort pensioenfonds                    visions_string                 == visions_string
In total 0 out of 5 types were changed.